@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home page";
}

<div class="container clearfix">
    <div class="people-list" id="people-list">
        <div class="search">
            <input id="GroupName" type="text" placeholder="Enter Room Key" />
            <i id="joinGroup" class="fa fa-search"></i>
        </div>
    </div>
    <div class="chat">
        <div class="chat-header clearfix">

            <div class="chat-about">
                <div id ="chat-with" class="chat-with"></div>
            </div>
        </div> <!-- end chat-header -->

        <div class="chat-history">
            <ul id="messages">

            </ul>

        </div> <!-- end chat-history -->

        <div class="chat-message clearfix">
            <textarea name="message-to-send" id="message-to-send" placeholder="Type your message" rows="3"></textarea>


            <button id="sendButton">Send</button>

        </div> <!-- end chat-message -->

    </div> <!-- end chat -->

</div> <!-- end container -->


<p id="username" style="display:none">@User.Identity.Name</p>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>